// // VARIABLES


// Container
$container-sm: 640px;
$container-md: 768px;
$container-xl: 1024px;
$container-2xl: 1280px;
$container-lg: 1536px;

// Tetxt color
$text-white: #F5F5F5;
$text-gray: #B4B4B8;
$text-black: #1F1717;
$text-navy: #201658;
$text-purple: #E178C5;
$text-pink: #FFA1F5;
$text-maroon: #891652;
$text-red: #D80032;
$text-peach: #FF8E8F;
$text-brown: #E8751A;
$text-beige: #EADFB4;
$text-yellow: #FFF78A;
$text-sage: #B0C5A4;
$text-green: #82CD47;
$text-mint: #15F5BA;
$text-teal: #008170;
$text-blue: #378CE7;

// Background color
$bg-white: #F5F5F5;
$bg-gray: #B4B4B8;
$bg-black: #1F1717;
$bg-navy: #201658;
$bg-purple: #E178C5;
$bg-pink: #FFA1F5;
$bg-maroon: #891652;
$bg-red: #D80032;
$bg-peach: #FF8E8F;
$bg-brown: #E8751A;
$bg-beige: #EADFB4;
$bg-yellow: #FFF78A;
$bg-sage: #B0C5A4;
$bg-green: #82CD47;
$bg-mint: #15F5BA;
$bg-teal: #008170;
$bg-blue: #378CE7;

// Color 
$color-white: #F5F5F5;
$color-gray: #B4B4B8;
$color-black: #1F1717;
$color-navy: #201658;
$color-purple: #E178C5;
$color-pink: #FFA1F5;
$color-maroon: #891652;
$color-red: #D80032;
$color-peach: #FF8E8F;
$color-brown: #E8751A;
$color-beige: #EADFB4;
$color-yellow: #FFF78A;
$color-sage: #B0C5A4;
$color-green: #82CD47;
$color-mint: #15F5BA;
$color-teal: #008170;
$color-blue: #378CE7;

// Color 
$border-white: #F5F5F5;
$border-gray: #B4B4B8;
$border-black: #1F1717;
$border-navy: #201658;
$border-purple: #E178C5;
$border-pink: #FFA1F5;
$border-maroon: #891652;
$border-red: #D80032;
$border-peach: #FF8E8F;
$border-brown: #E8751A;
$border-beige: #EADFB4;
$border-yellow: #FFF78A;
$border-sage: #B0C5A4;
$border-green: #82CD47;
$border-mint: #15F5BA;
$border-teal: #008170;
$border-blue: #378CE7;



